body {
    background-color: #efcc00;
    font-family: sans-serif;
  }
  
  #container {
    margin-left: 30%;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  .button {
    content: '';
    background-color: rgba(0, 0, 0, 0.584);
    border-radius: 50px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
    border: 2px solid black;
  }
  
  .button::before {
    position: absolute;
    content: '';
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  input:checked + .button {
    background-color: red;
  }
  
  input:checked + .button::before {
    transform: translateX(70px);
  }
  
  .check {
    display: none;
  }
  
  p {
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
  }
  
  .monthly {
    background-color: white;
    height: 100px;
    width: 100px;
  }
  
  #c2{
    height: 290px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px, rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
      cursor:pointer;
      animation-name: ex;
      animation-duration: 3s;
      border: 3px solid;
  }
  
  #c3 {
    height: 290px;
    width: 300px;
    margin-top: -250px;
    margin-left: 499px;
    border: 3px solid;

 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px, rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
      cursor:pointer;
  
      animation-name: ex;
      animation-duration: 3s;
  }
  
  .myDiv {
    background-color: #efcc00;
    text-align: center;
    height: 200px;
    width: 90%; /* Adjust the width based on your requirements */
    margin: 50px auto;
    animation-name: ex;
    animation-duration: 3s;
  }
  
  h1 {
    color: red;
    text-align: left;
    margin-left: 10px;
  }
  
  a:hover {
    margin-top: 3px;
    text-decoration: underline;
  
   animation-name: under;

  }
  
  /* Media queries for responsive design */
  
  @media only screen and (max-width: 72px) {
    #container {
      margin-left: 10%;
    }
  
    .myDiv {
      width: 80%;
    }
  }
  @keyframes ex {
    from {height: 00px; width: 800px;}
    to {}
  }
.buybutton{
 color: black;
 text-decoration: none;
 margin-left: 190px; 
 border-radius: 8px;
 width: 100px;
 height: 30px;
 border: 1px solid black;
 text-decoration: none;
 background-color: #efcc00;
 
 }
.buylink{
font-size: 25px;
 text-decoration: none;
 color: black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* border: 2px solid black; */

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px
}
body {
    background-color: #efcc00;
    font-family: sans-serif;
  }
  
  #container {
    margin-left: 30%;
    width: 400px;
    height: 50px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
  .button {
    content: '';
    background-color: rgba(0, 0, 0, 0.584);
    border-radius: 50px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-top: 25px;
    border: 2px solid black;
  }
  
  .button::before {
    position: absolute;
    content: '';
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  input:checked + .button {
    background-color: red;
  }
  
  input:checked + .button::before {
    transform: translateX(70px);
  }
  
  .check {
    display: none;
  }
  
  p {
    font-size: 17px;
    text-align: left;
    margin-left: 10px;
  }
  
  .monthly {
    background-color: white;
    height: 100px;
    width: 100px;
  }
  
  #c2{
    height: 290px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px, rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
      cursor:pointer;
      animation-name: ex;
      animation-duration: 3s;
      border: 3px solid;
  }
  
  #c3 {
    height: 290px;
    width: 300px;
    margin-top: -250px;
    margin-left: 499px;
    border: 3px solid;

 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px, rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
      cursor:pointer;
  
      animation-name: ex;
      animation-duration: 3s;
  }
  
  .myDiv {
    background-color: #efcc00;
    text-align: center;
    height: 200px;
    width: 90%; /* Adjust the width based on your requirements */
    margin: 50px auto;
    animation-name: ex;
    animation-duration: 3s;
  }
  
  h1 {
    color: red;
    text-align: left;
    margin-left: 10px;
  }
  
  a:hover {
    margin-top: 3px;
    text-decoration: underline;
  
   animation-name: under;

  }
  
  /* Media queries for responsive design */
  
  @media only screen and (max-width: 72px) {
    #container {
      margin-left: 10%;
    }
  
    .myDiv {
      width: 80%;
    }
  }
  @keyframes ex {
    from {height: 00px; width: 800px;}
    to {}
  }
.buybutton{
 color: black;
 text-decoration: none;
 margin-left: 190px; 
 border-radius: 8px;
 width: 100px;
 height: 30px;
 border: 1px solid black;
 text-decoration: none;
 background-color: #efcc00;
 
 }
.buylink{
font-size: 25px;
 text-decoration: none;
 color: black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* border: 2px solid black; */

}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px
}
h1{
  color: #ff4500;
 
 
  font-family: Georgia, 'Times New Roman', Times, serif; 
}
